a{ 
	display: box;
	display: inline-box;
	flex-direction:row;
	flex-direction:row-reverse;
	flex-wrap:nowrap;
	flex-flow:row nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: flex-end;
	background-color: black;
	color: #fff;
}
a > span{
	order:2;
	flex-grow:1 1 1;
	flex-shrink:1;
	flex-basis:auto;
	align-self:flex-start;
}